.grid {
    width: 32em;
    height: 100%;
    margin: auto;
    border: 2px solid black;
    /* display: inline-grid;
    grid-template-columns: 3;
    grid-template-rows: 3; */
}

.row {
    padding-left: auto;
    padding-right: auto;
    height: 200px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.blank {
    border: 1px solid black;
  margin: 5px;
  width: 130px;
  height: 190px;
  display: inline-block;
}

.blank-selected {
    border: 2px solid blue;
  margin: 5px;
  width: 130px;
  height: 190px;
  display: inline-block;
}